.App{
  width: 100%;
  height: 100vh;
}

@font-face {
  font-family: 'Mate SC';
  src: local('Mate SC'), url(./fonts/MateSC-Regular.ttf) format('opentype');
}

@font-face {
  font-family: 'Oswald';
  font-weight: 900;
  src: local('Mate SC'), url(./fonts/Oswald-Bold.ttf) format('opentype');
}

@font-face {
  font-family: 'Oswald';
  font-weight: 700;
  src: local('Mate SC'), url(./fonts/Oswald-Medium.ttf) format('opentype');
}

@font-face {
  font-family: 'Oswald';
  src: local('Mate SC'), url(./fonts/Oswald-Regular.ttf) format('opentype');
}